<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="/home/labuser/IdeaProjects/Capstone/src/test/java/tests/Test1.java">
        <classes>
            <class name="tests.Test1">
                <methods>
                    <include name="Page1"/>
                    <include name="captureSS"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>